<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>CodePen - Animated Photo Gallery (Also Frustrating)</title>

<link href="https://fonts.googleapis.com/css?family=Fira+Sans:800&display=swap" rel="stylesheet">

<link rel="stylesheet" href="../static/css/style.css">

</head>
<body>

<div class="gallery">
  <div class="gallery__strip__wrapper">
    <div class="gallery__strip one">
      <div class="photo">
        <div class="photo__image"><img src="../static/img/gg-kyoto.jpg"/></div>
        <div class="photo__name">Kyoto</div>
      </div>
      <div class="photo">
        <div class="photo__image"><img src="../static/img/gg-austria.jpg"/></div>
        <div class="photo__name">Halstatt</div>
      </div>
      <div class="photo">
        <div class="photo__image"><img src="../static/img/gg-peru.jpg"/></div>
        <div class="photo__name">Peru</div>
      </div>
      <div class="photo">
        <div class="photo__image"><img src="../static/img/gg-rio.jpg"/></div>
        <div class="photo__name">Rio</div>
      </div>
    </div>
  </div>
  <div class="gallery__strip__wrapper">
    <div class="gallery__strip two">
      <div class="photo">
        <div class="photo__image"><img src="../static/img/gg-italy.jpg"/></div>
        <div class="photo__name">Italy</div>
      </div>
      <div class="photo">
        <div class="photo__image"><img src="../static/img/gg-osaka.jpg"/></div>
        <div class="photo__name">Osaka</div>
      </div>
      <div class="photo">
        <div class="photo__image"><img src="../static/img/gg-bali.jpg"/></div>
        <div class="photo__name">Bali</div>
      </div>
      <div class="photo">
        <div class="photo__image"><img src="../static/img/gg-paris2.jpg"/></div>
        <div class="photo__name">Paris</div>
      </div>
    </div>
  </div>
  <div class="gallery__strip__wrapper">
    <div class="gallery__strip three">
      <div class="photo">
        <div class="photo__image"><img src="../static/img/gg-cusco.jpg"/></div>
        <div class="photo__name">Cusco</div>
      </div>
      <div class="photo">
        <div class="photo__image"><img src="../static/img/gg-rome.jpg"/></div>
        <div class="photo__name">Rome</div>
      </div>
      <div class="photo">
        <div class="photo__image"><img src="../static/img/gg-paris.jpg"/></div>
        <div class="photo__name">Paris</div>
      </div>
      <div class="photo">
        <div class="photo__image"><img src="../static/img/gg-bali2.jpg"/></div>
        <div class="photo__name">Bali</div>
      </div>
    </div>
  </div>
  <div class="gallery__strip__wrapper">
    <div class="gallery__strip four">
      <div class="photo">
        <div class="photo__image"><img src="../static/img/gg-milan.jpg"/></div>
        <div class="photo__name">Milan</div>
      </div>
      <div class="photo">
        <div class="photo__image"><img src="../static/img/gg-budapest.jpg"/></div>
        <div class="photo__name">Budapest</div>
      </div>
      <div class="photo">
        <div class="photo__image"><img src="../static/img/gg-vienna.jpg"/></div>
        <div class="photo__name">Vienna</div>
      </div>
      <div class="photo">
        <div class="photo__image"><img src="../static/img/gg-mexico.jpg"/></div>
        <div class="photo__name">Mexico</div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
